<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dot.contentprovider">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ContentProvider">
        <activity
            android:name=".Navigate_Activity"
            android:label="@string/title_activity_navigate_"
            android:theme="@style/Theme.ContentProvider.NoActionBar">


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".CustomProvider"
            android:authorities="com.dot.myProvider"
            android:enabled="true"
            android:exported="true" /> <!-- <provider -->
        <!-- android:name=".StudentsProvider" -->
        <!-- android:authorities="com.example.MyApplication.StudentsProvider" -->
        <!-- android:enabled="true" -->
        <!-- android:exported="true" /> -->
        <activity android:name=".MainActivity">

        </activity>
    </application>

</manifest>