<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dot.dictionarydot">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DictionaryDot">
        <activity android:name=".InsertWord"></activity>
        <activity
            android:name=".NavigateActivity"
            android:label="@string/title_activity_navigate"
            android:theme="@style/Theme.DictionaryDot.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".MyContentProvider"
            android:authorities="com.dot.myProvider"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".MainActivity"></activity>
    </application>

</manifest>